body{
    background:#a99e9e;
}
#DivTotal{
    background-color: #000000;
    text-align: center;
    color: rgb(0, 0, 0);
}
#Image{
    display: block;
    margin: auto;
    width: 25%;
    height: 25%;
}
.carousel-container {
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}
.carousel-image {
    width: 100%;
    height: auto;
    margin: auto;
}